
  <div class="postit" style="background: <%= note_color note %>">
    <label id="note-label[<%= note.id %>]" for="check_<%= note.id %>" style="text-decoration:<%= note.check ? 'line-through' : 'none' %>;<%= font_size note %>;">
      <%= note.content %></label>
    <div class="note-links">
      <%= check_box_tag "check[#{note.id}]", note.id, note.check, :class => "note-check" %>
      <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_note_path(note) %>
      <%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), note, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
