<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'group-submit' %>
  </div>
  <div class="field">
    <%= f.label :add_member_email %><br>
    <%= f.text_field :member_to_add, :class => 'group-submit' %>
  </div>
  <%= f.select :color, [["Space", "url( #{image_path('space-background.jpg')})"], ["Blue", "#ADC1D6"], ["Pink", "#FA98C4"], ["Green", "#98FABB"], ["Purple", "#D48EF5"], ["Neon Yellow", "#F3F315"], ["Neon Green", "#39FF14"], ["Neon Pink", "#FF0099"], ["Neon Orange", "FF6600"], ["White", "#FFF"]] %>
  <% if @group.users.collect.count > 1 %>
      <div class="field">
        <%= f.label :remove_member %><br>
        <%= f.select :member_to_remove, @group.users.collect { |u| u.email }, :include_blank => true %>
      </div>
  <% end %>
      <div class="actions">
          <%= f.submit :class => 'group-submit' %>
      </div>
<% end %>
