<div class="lined-paper">
<% @groups.each do |group| %>
    <h2><%= group.name %></h2>
    <div class="group-links">
      <%= link_to 'Show', group %></td>
      <%= link_to 'Edit', edit_group_path(group) %></td>
      <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>

 <br>

<div class="btn-group">
  <%= link_to new_group_path, class: 'btn btn-success btn-large' do %>
  <span class="glyphicon glyphicon-plus"></span> New Group
  <% end %>
</div>
