<% @groups.each do |group| %>
  <div class="postit">
    <%= group.name %>
    <div class="note-links">
      <%= link_to 'Show', group %></td>
      <%= link_to 'Edit', edit_group_path(group) %></td>
      <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>


<br>

<%= link_to 'New Group', new_group_path %>
