<p id="notice"><%= notice %></p>

<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group Members:</strong>
  <ul>
  <% @group.users.each do |u| %>
    <li><%= u.email %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit Members', edit_group_path(@group) %> |
<%= link_to 'Back to Groups List', groups_path %>
