<p id="notice"><%= notice %></p>

<div class="show-group">
	<h3>
  		<strong>Group Name:</strong>
  		<br><%= @group.name %>
	</h3>

	<h4>
  		<strong>Group Members:</strong>
  			<ul>
  			<% @group.users.each do |u| %>
    			<li><%= u.email %></li>
  			<% end %>
  			</ul>
	</h4>
	<%= link_to 'Edit', edit_group_path(@group) %> |
	<%= link_to 'Back to Groups', groups_path %>
</div>

<% @group.notes.each do |note| %>
  <div class="postit" style="background: <%= note_color note %>">
    <h2><%= note.content %></h2>
      <div class="note-links">
      <%= link_to 'Edit', edit_note_path(note) %>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
