<div class="devise-info">
<% if user_signed_in? %>
 	<p>Welcome <%= current_user.email %></p>
    <%= "Logged in!" %>
    <%= link_to raw('<i class="glyphicon glyphicon-cog"></i>'), edit_user_registration_path %>
    <%= link_to '[click to logout]', destroy_user_session_path, :method => :delete %>
<% else %>
    <p>You are not signed in.</p>
    <%= link_to 'Login', new_user_session_path %>
<% end %>
</div>
